NEXT_PUBLIC_APP_NAME="S5"
NEXT_PUBLIC_APP_VER="2.0"
NEXT_PUBLIC_APP_INFO="Sistema de denuncias públicas de faltas administrativas y hechos de corrupción"


NEXT_PUBLIC_BACKEND_URL=http://localhost:8055
NEXT_PUBLIC_URL=http://localhost:3000

# Run this command to generate a a new NEXTAUTH_SECRET, DIRECTUS_SECRET and DATABASE_PASSWORD
# $ openssl rand -base64 32
DIRECTUS_SECRET=<GENERA_UN_NUEVO_VALOR_SEGURO>

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=<GENERA_UN_NUEVO_VALOR_SEGURO>
NEXT_TELEMETRY_DISABLED=1

DATABASE_NAME=directus
DATABASE_USERNAME=userpg
DATABASE_PASSWORD=<GENERA_UN_NUEVO_VALOR_SEGURO>

DIRECTUS_ADMIN_EMAIL=ejemplo@dominio.com
DIRECTUS_ADMIN_PASSWORD=directusPassword
