@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 27 30% 95%;
    --foreground: 27 60% 10%;

    --card: 27 30% 98%;
    --card-foreground: 27 60% 10%;

    --popover: 27 30% 98%;
    --popover-foreground: 27 60% 10%;

    --primary: 27 59% 41%;
    --primary-foreground: 27 30% 98%;

    --secondary: 27 30% 85%;
    --secondary-foreground: 27 60% 10%;

    --muted: 27 30% 85%;
    --muted-foreground: 27 50% 30%;

    --accent: 27 59% 41%;
    --accent-foreground: 27 30% 98%;

    --destructive: 0 85% 60%;
    --destructive-foreground: 27 30% 98%;

    --border: 27 30% 80%;
    --input: 27 30% 80%;
    --ring: 27 59% 41%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 27 38% 3%;
    --foreground: 27 6% 97%;

    --card: 27 38% 5%;
    --card-foreground: 27 6% 97%;

    --popover: 27 38% 5%;
    --popover-foreground: 27 6% 97%;

    --primary: 27 59% 41%;
    --primary-foreground: 27 6% 97%;

    --secondary: 27 29% 12%;
    --secondary-foreground: 27 6% 97%;

    --muted: 27 29% 12%;
    --muted-foreground: 27 6% 54%;

    --accent: 27 59% 41%;
    --accent-foreground: 27 6% 97%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 27 6% 97%;

    --border: 27 29% 12%;
    --input: 27 29% 12%;
    --ring: 27 59% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .glass-effect {
    @apply backdrop-blur-xl backdrop-saturate-150 bg-background/75;
  }
  .gradient-background {
    @apply before:fixed before:inset-0 before:content-[''] before:-z-10
    before:bg-[radial-gradient(circle_at_47%_33%,hsl(var(--primary))_0%,transparent_59%),radial-gradient(circle_at_82%_65%,hsl(var(--secondary))_0%,transparent_55%)]
    dark:before:bg-[radial-gradient(circle_at_47%_33%,hsl(var(--primary)/0.4)_0%,transparent_59%),radial-gradient(circle_at_82%_65%,hsl(var(--secondary)/0.3)_0%,transparent_55%)];
  }
  .bg-custom-primary {
    @apply bg-primary;
  }
  .text-custom-primary {
    @apply text-primary;
  }
  .border-custom-primary {
    @apply border-primary;
  }
  .header-gradient {
    @apply bg-gradient-to-r from-primary via-primary/80 to-primary/60;
  }
}

